// src/components/sections/Services/ServiceItem.scss
.service-item {
  text-align: center;
  padding: 40px 20px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: 0.25s ease-in-out;
  height: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  &__icon {
    font-size: 40px;
    color: var(--color-azul-cielo);
    margin-bottom: 8px;
    transition: color 0.25s ease;
    &:hover{
      color: var(--color-mostaza); 
      cursor: pointer;
    }
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 17px;
    color: var(--color-negro-suave);
    margin-bottom: 0.5rem;
    transition: color 0.25s ease;
  }

  &__description {
    font-size: 13px;
    line-height: 1.6;
    color: rgba(28, 28, 28, 0.72);
    transition: color 0.25s ease;
    margin: 0;
  }

  &:hover {
    background: #f2f6f8;
    transform: translateY(-4px);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.1);
  }
}
